<div class="wrapper">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="home()">
            <mat-icon>home</mat-icon>
        </button>

        <h1 (click)="home()">Five<span>VV</span>Poll</h1>

        <mat-select [value]="langu" (selectionChange)="lang($event)">
            <mat-option value="ua">UKR</mat-option>
            <!-- <mat-option value="ru">RUS</mat-option> -->
            <mat-option value="en">ENG</mat-option>
        </mat-select>
    </mat-toolbar>


</div>
