<mat-list role="list">
  <mat-list-item>
    <div class="link disabled" >
      <b [ngStyle]="{width: '30%'}">{{'admin.name' | translate}}</b>
      <b [ngStyle]="{width: '20%'}"> {{'admin.count' | translate}}  </b>
      <b [ngStyle]="{width: '25%'}">{{'admin.first' | translate}}</b>
      <b [ngStyle]="{width: '25%'}">{{'admin.last' | translate}}</b>
    </div>
    <mat-icon class="delete" [ngStyle]="{visibility: 'hidden'}">delete</mat-icon>
  </mat-list-item>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let item of data">
    <mat-list-item>
      <div class="link" (click)="open(item.id)">
        <span [ngStyle]="{width: '30%'}">{{item.name}}</span>
        <span [ngStyle]="{width: '20%'}"> {{item.votes.length}} </span>
        <span [ngStyle]="{width: '25%'}">{{item.votes[0]?.time | date:'short'}}</span>
        <span [ngStyle]="{width: '25%'}">{{item.votes[item.votes.length - 1]?.time | date:'short'}}</span>
      </div>
      <mat-icon class="delete" (click)="remove(item.id)">delete</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
