@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

::ng-deep .cdk-overlay-pane {
    max-width: 95vw !important;
}